@import url('http://joey.so/lemonade/css/lemonade.css');
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
input:focus, textarea:focus {
    outline: none;
}
label, select, button, input[type="submit"], input[type="radio"], input[type="checkbox"] input[type="button"] {
    cursor: pointer;
}
a, a:visited, a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
* {
    font-size:100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family:"Open Sans" Arial;
    font-size: 20px;
}

.wrap {
  width:80%;
  margin:0 auto;
}

.dark {
  background:#f4f4f4;
  border-top:1px solid rgba(0,0,0,.1);
  border-bottom:1px solid rgba(0,0,0,.1);
}

.head {
  text-align:center;
  padding:40px;
  padding-bottom:10px;
  font-size:50px;
  font-weight:800;
  color:#1c1c1c;
}

p {
  text-align:center;
  padding-bottom:60px;
}

footer {
  text-align:center;
  padding:50px;
}

a,a:visited {
  color:#000;
  text-decoration:underline;
}

/* Landscape mobile & down
===============================*/
@media (max-width: 480px) {
  p {
    width:80%;
    margin:0 auto;
    padding-bottom:35px;
  }
  
  .wrap {
    width:100%;
  }
  
  .bit-2 {
    display:block;
    width:100%;
  }

}

/* Mobile to Tablet Portrait
===============================*/
@media (min-width: 481px) and (max-width: 800px) {
  p {
    width:80%;
    margin:0 auto;
    padding-bottom:35px;
  }
  
  .wrap {
    width:90%;
  }
}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 801px) and (max-width: 1100px) {

} 	